extends admin_media

block media_content
    form(action="/admin/media/add", method="POST" class="admin_add_movie")
        ul
            div(class="admin_add_movie_content")
                li
                    label(for="mediaType") Type
                    select(name="mediaType", id="type")
                        option(value="movie") Movie
                        option(value="tv") TV Show
            div(class="admin_add_movie_content")
                li
                    label(for="title") Title
                    input(type="text", name="title", id="title")
            div(class="admin_add_movie_content")
                li
                    label(for="year") Year
                    input(type="text", name="year", id="year")
            div(class="admin_add_movie_content")
                li
                    label(for="description") Description
                    input(type="text", name="description", id="description")
            div(class="admin_add_movie_content")
                li
                    label(for="director") Director/Creator
                    input(type="text", name="director", id="director")
            div(class="admin_add_movie_content")
                li
                    label(for="cast") Cast (separated by commas and no spaces)
                    input(type="text", name="cast", id="cast")
            div(class="admin_add_movie_content")
                li
                    label(for="genre") Genre (separated by commas and no spaces)
                    input(type="text", name="genre", id="genre")
            div(class="admin_add_movie_content")
                li
                    input(type="submit", value="Submit")
            if (success)
                li(style="color:green") Added successfully!
            else
                each err in errors
                    li(style = "color:red") #{err}