extends admin_media

block media_nav
    div(class="admin_movie_container")
        div(class="admin_movie_nav nav")
            ul 
                div(class="admin_movie_nav_content")
                    a(href="/admin/media/movie/add")
                        li Add
                    a(href="/admin/media/movie/edit")
                        li Edit
                    a(href="/admin/media/movie/delete")
                        li Delete
        block tvshow_content