extends admin_movie

block media_type_content
  div(class="admin_movie_nav nav")
    ul 
        div(class="admin_movie_nav_content")
            a(href="/admin/media/movie/add")
                li Add
            a(href="/admin/media/movie/edit")
                li Edit
            a(href="/admin/media/movie/Delete")
                li Delete