extends layout
mixin friend_mix(friendname)
    .friends_mix-wrapper



block content 

    div(class='friendslist border')
        h1 #{username}'s Friends List
        ul
            each friend in friends 
                li
                    img(src="/pictures/profile.png" alt ="Profile Picture" style="width:75px;height:75px; float:left; padding:10px")
                    br
                    p #{friend.name} 
                        a(href='http://localhost:3000/users/profile')
                            p (#{friend.username})


