doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="nav")
      ul
        a(href="http://localhost:3000/users/dashboard")
          li Home
        a(href="friends")
          li Friends
        a(href="http://localhost:3000/catalog/search")
          li Search
        li My Media
        a(href="profile")
          li Profile
    block content
