doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="nav")
      h1 SceneAddicts
      ul
        a(href="http://localhost:3000/users/dashboard")
          li Home
        a(href="http://localhost:3000/users/friends")
          li Friends
        a(href="http://localhost:3000/catalog/search")
          li Search
        a(href="http://localhost:3000/users/my-media")
          li My Media
        a(href="http://localhost:3000/users/profile")
          li Profile
    block content
