doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="nav")
      h1 SceneAddicts
      form(action="/", class="edit_profile_button", method="POST")
        input(name='logout',type="submit", value="Logout")
            


      
      if (isAdmin)
        ul
          div(class="nav_content")
            a(href="http://localhost:3000/admin/media" class="admin")
              li Administer Media
            a(href="http://localhost:3000/admin/users" class="admin")
              li Administer Users 
      else
        ul
          div(class="nav_content")
            a(href="http://localhost:3000/users/dashboard")
              li Home
            a(href="http://localhost:3000/users/friends")
              li Friends
            a(href="http://localhost:3000/catalog/search")
              li Search
            a(href="http://localhost:3000/users/my-media")
              li My Media
            a(href="http://localhost:3000/users/profile/myprofile")
              li Profile
    block content
