doctype html
html
  head
    title Welcome #{username}!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="nav")
      ul
        a(href="dashboard")
          li Home
        li Friends
        li Search
        li My Media
        li Profile
    block content
