body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 10%;
  margin-right:10%;
}
.nav h1 {
  text-align: center;
} 

a {
  color: #00B7FF;
}

/*** INDEX PAGE ***/
.login {
  text-align: center;  
}

.login_form {
  text-align: left;
  display: inline-block;
}

/*** USER NAV BAR ***/
.nav ul {
  list-style-type: none;
  padding: 0;
  /*background-color: yellow;*/
}

.nav_content {
  text-align: center;
}

.nav li {
  background-color: #000010;
  display: inline-block;
  width: 19.5%;
  text-align: center;
  font: 20px;
  color: white;
  border-left: 1px solid white;
  /*margin-left: 0.4em;*/
}

.nav li:hover {
  background-color: #333
}

/*** ADMIN PAGE ***/
.nav .admin li {
  width: 49%;
}

.admin_movie_container {
  float: right;
  width: 90%;
}

.admin_movie_nav li {
  background-color: #aaa;
  width: 30%;
}

.admin_movie_nav_content {
  text-align: center;
}

.media_type_nav ul {
  list-style-type: none;
  float: left;
  padding: 0;
  width: 5%;
  margin: 0 5px;
}

.media_type_nav li {
  margin-bottom: 5px;
}

.admin_add_movie ul {
  list-style-type: none;
  height: 100%;
}

.admin_add_movie_content {
  height: 5em;
}

.admin_add_movie input {
  float: right;
  clear: right;
  width: 60%;
}

.admin_add_movie select {
  float: right;
  clear: right;
  width: 60%;
}

/** SIGN UP PAGE ***/
.error_msg ul {
  list-style-type: none;
  color: #cf0000;
}

/*** DASHBOARD ***/
.activity ul {
  list-style-type: none;
  
}

.activity li {
  
  font-size: 14px;
  padding: 20px;

  
}

.activity p {
  display: inline-block;
  margin-left: 30px;
}
.activity img {

  width: 30px;
  height: 30px;
}

/******** MEDIA INFO PAGE *******/
#trailer {
  clear: both;
  height: 300px;
  text-align: center;
  background-color: violet;
}

.media_container img {
  float: left;
  width: 25%;
  /* height: 300px; */
  background-color: turquoise;
}

#title2 {
  float: right;
  width: 70%;
  /* background-color: springgreen; */
}

#rating {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 35%;
  /* background-color: sandybrown; */
}

#add_list {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 35%;
  /* background-color: pink; */
}

#desc {
  float: right;
  width: 70%;
  /* background-color: powderblue; */
}

ul.extra_desc {
  /* clear: both; */
  float: left;
  margin-left: 3em;
  /* background-color: sienna; */
}

.user_review_container {
  clear: both;
}

.user_review_container ul {
  list-style-type: none;
}
h3.review_info {
  float: right;
}

h3.username_review {
  float: left;
}

p.user_review {
  clear: both;
}


.friendslist ul {
  list-style-type: none;
 
  
}
.border li {
  
  border-bottom: 2px groove black;
  font-size: 16px;
  
}

.medialist a {

  font-size: 18px;
}

.medialist ul {
  list-style-type: none;
}


.profile_header img {
  float: left;
}

.profile_header input {
  position: relative;
  left: 80px;
}

.profile_header ul {
  list-style-type: none;
}

.profile_header h3 {
  text-align: right;
}

.tab h3  { 
  display:inline-block; 
  margin-left: 90px;
  
}



.basic_info {
  clear: both;
  text-align: left;
}
  
.basic_info ul {
  list-style-type: none;
}

/******* SEARCH PAGE *******/
.catalog_searchbar_container {
  text-align: center;
  margin-top: 2em;
}

#catalog_search_box {
  float: left;
  width: 70%;
}

.catalog_search_results {
  clear: both;
  text-align: center;
}

.catalog_search_results table {
  width: 90%;
  text-align: center;
}

.catalog_search_results tr:nth-child(even) {
  background-color: rgba(240, 0, 0, 0.1)
}

.catalog_search_results img {
  width: 37px;
  height: 55px;
}
