body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 10%;
  margin-right:10%;
}

a {
  color: #00B7FF;
}

.login {
  text-align: center;  
}

.login_form {
  text-align: left;
  display: inline-block;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000010;
}

.nav li {
  display: inline-block;
  width: 20%;
  text-align: center;
  font: 20px;
  color: white;
}

.error_msg ul {
  list-style-type: none;
  color: #cf0000;
}
.activity ul {
  list-style-type: none;
}

.activity li {
  
  font-size: 14px;
  line-height: 5em;
}

#trailer {
  clear: both;
  height: 300px;
  text-align: center;
  background-color: violet;
}

#poster {
  float: left;
  width: 25%;
  height: 300px;
  background-color: turquoise;
}

#title {
  float: right;
  width: 70%;
  background-color: springgreen;
}

#rating {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 35%;
  background-color: sandybrown;
}

#add_list {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 35%;
  background-color: pink;
}

#desc {
  float: right;
  width: 70%;
  background-color: powderblue;
}

#extra_desc {
  clear: both;
  background-color: sienna;
}

.user_comment_container ul {
  list-style-type: none;
}
.comment_info {
  float: right;
}

.username_comment {
  float: left;
}

.user_comment {
  clear: both;
}